<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body{
                background: url("http://wallpaperspot.net/images/2019/02/13/digimon-wallpaper-hd-2019-60.png");
                background-repeat:no-repeat;
                background-size: cover;
        }
    </style>
</head>
<body>
    <h4>Sorry, 404 File not Found</h4>
    <form action='http://localhost:5000'>
        <input class="red btn btn-large waves-effect waves-light"
        type='submit' value='Kembali'>
    </form>
</body>
</html>